@import "./custom.scss";
@import url("./custom.scss");

//sclient=img

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

span {
    position: relative;
    right: 55px;
    bottom: 25px;
    color: blue;
    text-decoration: none;
}